* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  width: auto;
}

ul {
  list-style: none;
}

header {
  height: 48px;
  background: #3c3a39;
  padding: 0 12px;
  overflow: hidden;
}

#bottom-socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px 0;
}

.show-inactive {
    position: fixed;
    z-index: 10;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
}

.featured-item {
  display: none;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.6fr, 0.4fr, 0.5fr, 1fr, 1fr, 1fr;
  grid-gap: 14px;
  margin: 15px;
}

.pop-title {
  grid-area: 1/1/span 1/span 10;
}

.exit {
  grid-area: 1/12/span 1/span 1;
  left: 600px;
}

.enclose {
  grid-area: 2/1/span 1/span 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pop-lists {
  border: 1px solid #ccc;
  text-align: center;
}

.pro-image {
  grid-area: 5/1/span 3/span 7;
  width: 100%;
  height: 100%;
}

.short-summary {
  grid-area: 5/8/span 3/span 6;
  font-size: 22px;
}

.pop-button-l {
  grid-area: 6/8/span 2/span 2;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  background-color: #f55800;
  border-radius: 5px;
  height: 48px;
  padding-top: 10px;
}

.pop-button-s {
  grid-area: 6/10/span 2/span 2;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  background-color: #f55800;
  border-radius: 5px;
  height: 48px;
  padding-top: 10px
}

@media only screen and (min-width: 768px) {
  header {
    padding: 0 100px;
  }

  #bars {
    display: none;
  }

  .pop-up {
    display: none;
  }
}

.button {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  height: 48px;
  padding: 12px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: 1px solid #f55800;
  background: #f55800;
}

.button:hover {
  color: #f55800;
  border: 1px solid #f55800;
  background: #fff5e1;
}

.button:active {
  color: #f4f1f0;
  border: 1px solid #e05304;
  background: #e05304;
}

.button:disabled {
  cursor: not-allowed;
  color: #5b5957;
  border: 1px solid #f4f1f0;
  background: #f4f1f0;
}

.topnav a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  display: block;
  float: right;
  padding: 14px 16px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  display: block;
  float: left;
  text-decoration: none;
}

.topnav a:not(:first-child) {
  display: none;
}

.topnav a.bars {
  float: right;
  display: none;
}

@media only screen and (min-width: 768px) {
  .topnav .bars {
    display: none;
  }

  .topnav a:not(:first-child) {
    display: block;
  }

  .topnav a.bars {
    display: none;
  }

  #opening {
    display: grid;
    grid-template-areas: 'intro_word' 'social';
    padding: 0;
    margin: 0;
  }

  #intro_word {
    grid-area: intro_word;
    height: 382px;
    padding: 0;
  }

  #social {
    grid-area: social;
    margin-top: 0;
  }
}

.fa-bars {
  color: white;
}

#opening {
  grid-template-columns: 1fr 8fr;
  grid-template-areas: 'social introd';
  height: 480px;
  padding: 0;
  background-color: #1c1a19;
  background-image: url("./image/Desktop.png");
  background-repeat: no-repeat;
  background-position: 100% 125%;
}

#intro_word {
  grid-area: introd;
  margin-top: 80px;
}

#headline-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  width: 327px;
}

#description2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 120px;
}

#title {
  font-family: "Crete Round", sans-serif;
  font-size: 56px;
  font-weight: 400;
  font-style: normal;
  line-height: 64px;
  margin-bottom: 6px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#job {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 32px;
  color: #fff5e1;
}

#description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  margin: 12px 0;
  color: #fff;
  max-width: 327px;
}

#social {
  grid-area: social;
  align-items: center;
  margin-top: 150px;
}

.social-icons {
  font-size: 24px;
  padding: 10px;
  color: #dbd8d7;
}

#work {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 24px;
}

#works-title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 120px;
}

#works-title {
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 52px;
  align-items: center;
  margin-bottom: 50px;
  color: #1c1a19;
}

#separator1 {
  width: 100%;
  border: 1px solid #212121;
}

#frames {
  display: grid;
  justify-items: start;
  max-width: 327px;
  margin-top: 80px;
}

#recent-img {
  width: 327px;
  height: 237px;
}

.stories {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 44px;
  height: 36px;
  margin-top: 22px;
  color: #091e42;
}

.summary {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  margin-top: 22px;
  margin-bottom: 22px;
  color: #091e42;
}

.bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 0;
  gap: 12px;
}

.bar > span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  padding: 10px 12px;
  color: #091e42;
  border: 1px solid #8993a4;
  background: #fff;
}

#grid {
  display: grid;
  justify-content: center;
  margin-bottom: 120px;
  width: 100%;
  max-width: 327px;
}

.pro_div {
  display: grid;
  align-items: flex-end;
  height: 386px;
  margin: 20px 0;
  background-repeat: no-repeat;
  width: 327px;
}

#card1,
#card2,
#card4,
#card6,
#card3,
#card5 {
  background-image: url("./image/pro.png");
  background-size: 327px 386px;
}

.pro_div > h3 {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 44px;
  height: 81px;
  color: #fff;
  padding: 0 10px;
  width: auto;
}

.pro_div > p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  height: 87px;
  color: #fff;
  padding: 0 10px;
}

.pro_tags {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 10px;
  gap: 12px;
}

.pro_tags > span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 12px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.bar > span:hover {
  background-color: rgb(214, 214, 214);
}

.pro_tags > span:hover {
  background-color: rgb(214, 214, 214);
}

.pro-button {
  width: 327px;
}

#about_section {
  padding: 120px 24px 200px;
  background-color: #1c1a19;
  background-image: url("./media/illustration-about-me-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

#about-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  width: 327px;
}

#ment {
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-weight: 400;
  font-style: normal;
  line-height: 54px;
  height: 79px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#about {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  height: 148px;
  color: #f4f5f7;
  margin-top: 24px;
  max-width: 327px;
}

#resume-button {
  margin-top: 36px;
}

#separator2 {
  width: 100%;
  border: 1px solid #fff;
}

#ability {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px 100px;
  background-color: #1c1a19;
  gap: 24px;
}

#ability-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  row-gap: 30px;
}

#ability-container > ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#ability-container > ul > li {
  margin: 17px 0;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 43px;
  display: flex;
  align-items: center;
  height: 24px;
  text-align: center;
  color: #fff;
}

#ability-container > ul > .ability-title {
  font-family: "InaiMathi", serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 44px;
  display: flex;
  align-items: center;
  height: 24px;
  color: #fff;
}

.bullet {
  margin: 0 5px 0 0;
}

#languages-bullet {
  width: 18px;
  height: 18px;
  transform: rotate(-45deg);
  background: #ff6b00;
}

#frameworks-bullet {
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

#skills-bullet {
  width: 18px;
  height: 18px;
  border-radius: 150px;
  background: #ff6b00;
}

#contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 844px;
  padding: 120px 24px;
  gap: 58px;
}

#contact > p {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 44px;
  height: 216px;
  text-align: center;
  color: #172b4d;
  max-width: 327px;
}

#form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  gap: 24px;
  width: 100%;
}

#form > input {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  width: 100%;
  height: 48px;
  padding: 10px;
  border: 0 solid;
  border-bottom: 2px solid #dbd8d7;
  outline: none;
  background-color: transparent;
}

#form > textarea {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  width: 100%;
  height: 114px;
  padding: 10px;
  border: 0 solid;
  background-color: #fbf8f7;
}

#separator3 {
  width: 100%;
  border: 1px solid #dfe1e6;
}

#bottom-socials1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px 0;
}

.social-icons2 {
  font-size: 24px;
  padding: 10px;
  color: #505f79;
}

@media only screen and (min-width: 768px) {
  #opening {
    background-position: 100% 110%;
  }

  #headline-container {
    flex-direction: row;
    align-items: center;
    width: auto;
    margin-top: 150px;
  }

  #headline-text {
    order: 2;
    margin-top: 0;
  }

  #social {
    display: flex;
    flex-direction: column;
    order: 1;
    margin-right: 35px;
  }

  #works-title-container {
    flex-direction: row;
  }

  #work_title {
    min-width: 315px;
    margin: 20px 0 20px 80px;
  }

  #separator1 {
    margin-left: 24px;
    margin-right: 124px;
  }

  #frames {
    grid-template-areas: 'img title' 'img descrip' 'img tags' 'img btn' 'img .';
    column-gap: 24px;
    row-gap: 10px;
    justify-content: center;
    max-width: 1024px;
    margin: 80px 80px 0;
  }

  #recent-img {
    grid-area: img;
    max-width: 654px;
    max-height: 474px;
  }

  #stories {
    grid-area: title;
  }

  #summary {
    grid-area: decrip;
  }

  #bar {
    grid-area: tags;
  }

  #mainp-button {
    grid-area: btn;
  }

  #grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    max-width: 1156px;
  }

  #about-container {
    width: auto;
  }

  #ment {
    margin-left: 80px;
  }

  #about {
    margin-left: 80px;
  }

  #resume-button {
    margin-left: 80px;
  }

  #separator2 {
    width: 90%;
  }

  #ability-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  #ability-container > ul {
    align-items: flex-start;
    justify-content: flex-start;
  }

  #contact {
    flex-direction: row;
  }

  #contact > p {
    margin-bottom: 100px;
    text-align: left;
  }

  #form {
    align-items: flex-start;
  }

  #bottom_socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #bottom-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px 0;
  }
}

@media only screen and (min-width: 992px) {
  #opening {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-areas: 'social intro_word';
    height: 870px;
    background-position: 100% 110%;
    background-image: url("./media/illustration-header.svg");
  }

  #headline-container {
    margin-top: 290px;
  }

  #intro_word {
    grid-area: intro_word;
    margin-top: 80px;
  }

  #recent-img {
    width: 654px;
    height: 474px;
  }

  #about_section {
    background-image: url("./media/illustration-about-me.svg");
    background-position: 100% 25%;
  }

  #contact > p {
    margin-left: 100px;
  }

  #form {
    margin-right: 100px;
  }

  #social {
    grid-area: social;
    margin-top: 180px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  #description {
    max-width: 566px;
  }

  #about {
    max-width: 566px;
  }

  #resume-button {
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  #logo {
    display: block;
    float: left;
  }

  #mess {
    display: none;
  }

  #bars {
    display: block;
    float: right;
  }

  .the-nav1 {
    color: #fff5e1;
    padding: 20px;
  }

  .the-nav2 {
    color: #fff5e1;
    padding: 20px;
  }

  #opening {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'intro_word' 'social';
    padding-left: 24px;
  }

  #intro_word {
    grid-area: intro_word;
    margin-top: 50px;
  }

  #social {
    grid-area: social;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 0;
    align-items: flex-start;
  }

  #bottom_socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #bottom-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px 0;
  }

  .pop-menu {
    width: auto;
    height: 500px;
    background: #3c3a39;
    margin-top: 0;
    padding-top: 0;
  }

  .pop {
    display: none;
  }

  #close {
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    width: 20px;
    height: 20px;
    background: #3c3a39;
    border: none;
  }

  .img-button {
    width: 100%;
    height: 100%;
  }

  .nav-tools {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    color: #fff5e1;
    list-style: none;
    width: auto;
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
    overflow-y: hidden;
  }

  .first-tool {
    padding-top: 20px;
  }

  li a:link {
    text-decoration: none;
  }

  .navigation {
    background: #3c3a39;
    padding: 20px;
    height: 120vh;
  }

  .the-nav3 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 4px;
    color: #fff5e1;
    padding-left: 20px;
  }

  .space {
    height: 550px;
    background: #3c3a39;
  }
  
   .show-inactive {
    position: fixed;
    z-index: 100;
    display: none;
    top: 7%;
    left: 7%;
    right: 7%;
    background: #fff;
    bottom: 7%;
    transform: none;
  }

  .featured-item {
    width: 100%;
    height: 100%;
    display: none;
    padding: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    z-index: 1010;
    background: #fff;
  }

  .pop-title {
    grid-area: 1/1/span 1/span 5;
    height: 55px;
    font-size: 18px;
    padding-top: 15px;
  }

  .exit {
    grid-area: 1/6/span 1/span 1;
    height: 15px;
    width: 15px;
    margin-left: 15px;
    margin-top: 13px;
    padding: 3px;
  }

  .enclose {
    grid-area: 2/1/span 1/span 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    margin-top: 10px;
    padding-top: 5px;
  }

  .pop-lists {
    border: 1px solid #ccc;
    font-size: 12px;
  }

  .pro-image {
    grid-area: 3/1/span 3/span 6;
    width: 100%;
    height: 100%;
  }

  .short-summary {
    grid-area: 6/1/span 4/span 6;
    width: 100%;
    height: 100%;
    font-size: 10px;
    margin-top: 10px;
  }

  .pop-button-l {
    grid-area: 9/1/span 1/span 2;
    border-radius: 3px;
    border: 1px solid #000;
    background: #eb9508;
    height: 30px;
    text-decoration: none;
    margin-top: 20px;
    padding: 4px;
    color: #fff;
    font-size: 13px;
  }

  .pop-button-s {
    grid-area: 9/4/span 1/span 3;
    border-radius: 3px;
    border: 1px solid #000;
    background: #eb9508;
    height: 30px;
    text-decoration: none;
    margin-top: 20px;
    padding-top: 4px;
    color: #fff;
    font-size: 13px;
    background-image: './image/github.png';
  }
}
